<h1 class="text-bg-light d-inline-flex rounded p-2 mx-3 fw-bold">
    The Developers Blog
</h1>
</header>
<main class="container container-fluid mt-5">
    {{!-- User blogpost --}}
    <div class="border border-dark mb-4 blog-post">
        <div class="d-flex bg-dark p-2">
            <h3 class="text-light">
                {{post.title}}
            </h3>
            <p class="ms-auto text-light">
                Posted by {{post.user.username}} on {{format_date post.date_created}}
            </p>
        </div>
        <p class="p-2">
            {{post.description}}
        </p>
    </div>
    {{!-- If comments exists, render them on the screen --}}
    {{#if comments}}
    {{#each comments as |comment|}}
    <div class="border border-dark mb-4 p-3">
        <p>
            {{comment.description}}
        </p>
        <p>- {{comment.user.username}}, {{format_date comment.date_created}}</p>
    </div>
    {{/each}}
    {{/if}}
    {{!-- Form to add new comment --}}
    <div class="container border border-dark mb-4 p-3">
        <div>
            <p>
                Comment
            </p>
            <form class="form comment-form" id={{post.id}}>
                <textarea class="w-100" id="comment-description"></textarea>
                <div class="form-group mt-2">
                    <button class="btn btn-dark w-100" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <script src="./js/comment.js"></script>